/*----------*/
/*our custom css*/
/*----------*/

/*for testing*/
* {
  /*border: 1px dotted green;*/
}

/*general bootstrap overriding*/
.btn:focus, .btn:focus:active {
  outline: none;
}

/*app container css*/
.app-container {
  /*testing*/
}

/*auth css*/
.login-margin {
  margin-top: 50px;
}
.login-input, .auth-submit-button {
  margin: 6px 0;
}

/*main search css*/
.main-search-bar {
  margin: 40px 0 10px 0;
}
.main-search-mode {
  margin: 0 0 0 5px;
}
.main-search-results {
  margin-top: 30px;
}
.main-search-mode-slash {
  display: inline;
  margin: 0 10px;
}
.main-search-mode-button {}
.main-search-mode-button-active {
  text-decoration: underline;
  color: #2f6f9f;
}
.results-load-more-button {
  margin-bottom: 50px;
}

/*product profile css*/
.product-profile-container {
  padding-top: 30px;
}
.product-profile-header {
  display: inline;
  margin: 0;
}
.product-follow-button {
  /*position: relative;*/
  /*top: 4px;*/
  /*margin-left: 8px;*/
  width: 80px;
}

/*product item css*/
.product-item-header {
  display: inline;
  font-size: 25px;
  margin: 0;
}
.product-item-favicon {
  position: relative;
  top: -4px;
  margin-right: 8px;
  height: 16px;
  width: 16px;
}
.product-item-url {
  margin-bottom: 10px;
}

/*add tech modal css*/
.add-tech-button {
  margin-right: 10px;
}
.tech-item-button {
  padding: 3px 8px;
  margin: 0 5px 5px 0;
}
.tech-search-body {
  /*min-height: 100px;*/
}

/*utility css*/
.pointer {
  cursor: pointer;
}
