/*our custom css*/

.main-search-bar {
  margin: 40px 0 10px 0;
}

.login-margin {
  margin-top: 50px;
}

.login-input, .auth-submit-button {
  margin: 6px 0;
}

.search-types {
  margin: 0 0 0 5px;
}

.tech-item-button {
  margin: 0 5px 5px 0;
}

/*utility*/
.pointer {
  cursor: pointer;
}
